<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--将pojo定义别名-->
    <typeAliases>
        <package name="com.icelee.pojo"/>
    </typeAliases>
    <!--映射文件-->
    <!--<mappers>-->
        <!--<mapper resource="mybatis/mapper/usermapper.xml"/>-->
    <!--</mappers>-->
</configuration>